/* put your own styles to customize and override the theme */
.btn-default {
    border: 1px solid;
}
.paginate_button {
    padding: 7px 25px;
    border: 1px solid #e6e6e6;
    margin: 5px;
}
.paginate_button.disabled {
    background-color: #e6e6e661;
    color: #0000007d;
}
.inline-btn {
    text-align: right;
    padding-top: 14px;
}
.qoutation-table tbody tr th {
    padding: 0;
}
.qoutation-heading {
    background-color: #f3f3f4;
    padding: 7px;
    margin: 0;
}
.qoutation-table tbody tr td {
    font-size: 16px;
    font-weight: 600;
}
.qoutation-table tbody tr td label {
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0px;
}
.qoutation-btn{
    width: 100%;
    margin-top: -1px;
}










/*margin - padding */
.m-b-10{
    margin-bottom: 10px;
}